<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="/desire/static/css/base.css" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/signature_pad@2.3.2/dist/signature_pad.min.js" type="text/javascript"></script>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" type="text/javascript"></script>
    <script src="/desire/static/js/utils.js" type="text/javascript"></script>

    <script type="text/javascript">
        const utils = new Utils();
        let signaturePad = null;
        let dataStack = [];
        let canvas = null;
        window.onload = function () {
            canvas = document.querySelector("#signature-pad");
            // resetCanvas(canvas);
            signaturePad = new SignaturePad(canvas, {
                // backgroundColor: 'rgb(255, 255, 255)',
                minWidth: 2,
                maxWidth: 3,
            });

            $('#frmInputDesire').submit(function () {
                if (checkSubmit()) {
                    utils.loading();
                    $.ajax({
                        type: $(this).attr('method'),
                        url: $(this).attr('action'),
                        data: $(this).serialize(),
                        dataType: "json",
                    }).done(function (json) {
                        M.toast({html: json.message, classes: 'green'});
                        clearData();
                        $('input[name=email]').val('');
                    }).fail(function (errors) {
                        M.toast({html: errors.responseJSON.message, classes: 'red'});
                    }).always(function () {
                        utils.loaded();
                    });
                }
                return false;
            })
        };

        function resetCanvas(canvas) {
            let ratio = Math.max(window.devicePixelRatio || 1, 1);
            canvas.width = (document.body.offsetWidth - 25);
            canvas.height = canvas.offsetHeight;
            // canvas.getContext("2d").scale(ratio, ratio);
        }

        // function resizeCanvas(canvas) {
        //     let ratio = window.devicePixelRatio || 1;
        //     canvas.width = canvas.offsetWidth * ratio;
        //     canvas.height = canvas.offsetHeight * ratio;
        //     canvas.getContext("2d").scale(ratio, ratio);
        // }

        // window.onresize = resetCanvas;

        function checkSubmit() {
            if ($('input[name=email]').val() === '') {
                M.toast({html: "メールアドレスを記入してください。", classes: 'red'});
                return false;
            }
            if (signaturePad.isEmpty()) {
                M.toast({html: "願望をご記入ください。", classes: 'red'});
                return false;
            }
            // let data = signaturePad.toDataURL('image/svg+xml');
            let data = signaturePad.toDataURL();
            $("input[name=user_signature]").val(data);
            return true;
        }

        function sendDesire() {
            $('#frmInputDesire').submit();
        }

        function clearData() {
            $('input[name=user_signature]').val('');
            signaturePad.clear();
            dataStack = [];
        }

        function undo() {
            var data = signaturePad.toData();
            if (data) {
                dataStack.push(data.pop());
                signaturePad.fromData(data);
            }
        }

        function redo() {
            var data = signaturePad.toData();
            if (data && dataStack.length > 0) {
                data.push(dataStack.pop());
                signaturePad.fromData(data);
            }
        }

        function erase() {
            var ctx = canvas.getContext('2d');
            ctx.globalCompositeOperation = 'destination-out';
            $("#draw").show();
            $("#eraser").hide();
        }

        function draw() {
            var ctx = canvas.getContext('2d');
            console.log(ctx.globalCompositeOperation);
            ctx.globalCompositeOperation = 'source-over'; // default value
            $("#eraser").show();
            $("#draw").hide();
        }
    </script>
    <style type="text/css">
        .brand-logo {
            margin-left: 20px;
        }
        .signature-pad {
            border: 1px solid lightgray;
            border-radius: 10px;
        }
        ul.messages {
            margin-left: 30px;
            margin-right: 30px;
            border: 1px solid;
            padding: 15px;
            border-radius: 5px;
        }
        ul.messages li.info {
            color: green;
        }
        ul.messages li.error {
            color: red;
        }
    </style>
</head>
<body>
<div class="navbar-fixed">
<nav>
    <div class="nav-wrapper teal lighten-2">
{#        <a href="javascript:void(0)" class="brand-logo">愿望墙</a>#}
        <ul id="nav-mobile" class="right">
            <li>
                <a class="waves-effect waves-light white-text" onclick="clearData()">クリア
                    <i class="material-icons right">clear</i>
                </a>
            </li>
            <li>
                <a class="waves-effect waves-light white-text" onclick="undo()">元に戻す
                    <i class="material-icons right">undo</i>
                </a>
            </li>
            <li>
                <a class="waves-effect waves-light white-text" onclick="redo()">やり直し
                    <i class="material-icons right">redo</i>
                </a>
            </li>
            <li style="display: none" id="draw">
                <a class="waves-effect waves-light white-text" onclick="draw()">描画開始
                    <i class="material-icons right">create</i>
                </a>
            </li>
            <li id="eraser">
                <a class="waves-effect waves-light white-text" onclick="erase()">消しゴム
                    <i class="right fas fa-eraser"></i>
                </a>
            </li>
            <li>
                <a class="waves-effect waves-light white-text" onclick="sendDesire()">送信
                    <i class="material-icons right">send</i>
                </a>
            </li>
        </ul>
    </div>
</nav>
</div>
<div class="row">
    <form id="frmInputDesire" class="col s12" action="/desire" method="post">
        <div style="display: none">
            {% csrf_token %}
        </div>
        <div class="row">
            <div class="input-field col s6">
                <input id="email" name="email" type="text" class="validate right-align" required>
                <label for="email">メールアドレス</label>
            </div>
            <div class="input-field col s6">
                <input type="text" class="validate" disabled value="@wisdom-technology.co.jp"/>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <div>
                    <div class="wrapper">
                        <canvas id="signature-pad" width="1000" height="800" class="signature-pad"></canvas>
                    </div>
                    <input type="hidden" name="user_signature"/>
                </div>
            </div>
        </div>
    </form>
</div>
</body>
</html>