<div class="container">
    <div class="wrapper">
        <ul id="sb-slider" class="sb-slider">
            {% for desire in object_list %}
                <li>
                    <a href="javascript:void(0)">
                        <img src="{{ desire.get_desire_url }}" width="740" height="592" alt="{{ desire.full_name }}">
                    </a>
                </li>
            {% endfor %}
        </ul>

        <div id="shadow" class="shadow"></div>

        <div id="nav-arrows" class="nav-arrows" style="visibility: hidden;">
            <a href="#" id="next">Next</a>
            <a href="#" id="prev">Previous</a>
        </div>
    </div>
</div>
